.product-list {
  &__search {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
  
    .ant-space-item {
      width: 600px;
      max-width: 100%;
    }
  }
  
  &__items {
    .items__title {
      display: flex;
      padding: 1rem;
      background-color: #8c8c8c;
      color: #fff;
      margin-top: 1rem;
      border-radius: 6px;
      text-transform: uppercase;
      font-weight: bold;

      &-sku {
        width: 30%;
      }

      &-product-name {
        width: 40%;
      }

      &-action {
        width: 30%;
      }
    }

    .items__content {
      display: flex;
      padding: 0.5rem;
      border-radius: 6px;
      border: 1px solid #eee;
      margin-top: 0.5rem;
      transition: 0.2s;

      &-sku {
        width: 30%;
      }

      &-product-name {
        width: 40%;
      }

      &-action {
        width: 30%;
        display: flex;

        .delete-button {
          color: #fff;
          background-color: #d4380d;
          margin-left: 0.5rem;
        }
      }

      &:hover {
        background-color: #f0f0f0;
      }
    }
  }
}
